body {
    background-color: rgb(202, 9, 9);
}
div {
    background-color: rgb(173, 173, 173);
    height: 300px;
}
h1 {
    color: black;
}
h2 {
    color: black;
}
h3 {
    color: black;
}
.smaller-image {
    width: 400px;
}